/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */

.banner {
  background-image: url(http://giphygifs.s3.amazonaws.com/media/3IaC81YOZudfa/giphy.gif);
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.container {
    width: 900px;
    margin: auto;
}

.banner p {
    color: white;
    font-size: 20px;
    text-shadow: 1px 1px 2px black;
}

a {
    text-decoration: none;
}

.btn-primary {
    display: inline-block;
    background-color: #2c2b2b;
    padding: 16px 36px;
    border-radius: 50px;
    color: goldenrod;
    font-weight: bold;
}

.text-center {
  text-align: center;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.card {
    width: 200px;
    border-radius: 3px;
    box-shadow: 0 0 5px rgb(230,230,230);
    text-align: center;
    padding: 20px;
    border: 1px solid rgb(230,230,230);
}

.card img {
    height: 100px;
}

.card p {
    opacity: .5;
}

.footer {
    text-align: center;
    padding: 60px;
    background-color: #2c2b2b;
}

.footer a {
    font-size: 30px;
    color: goldenrod;
    margin: 7.5px;
}

.footer p {
    color: goldenrod;
}
